@import '../../../App.scss';
.content-cardh {

  position: relative;
  .principalcard {
		position: absolute;
		width: 40%;
		top: 20px;
		@media (max-width: 768px) {
			width: 50%;
		}
		@media (max-width: 425px) {
			width: 93%;
		}
    .card {
		height: 308px;
		border-radius: unset;
		background-color: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(10px);
		margin-top: 90px;
		@media (max-width: 1024px) {
			height: 335px;
		}
		@media (max-width: 325px) {
			height: 381px;
		}
      .card-body {
				small {
					font-weight: 300;
					color: $white;
				}
				h1 {
					color: $white;
					margin-bottom: 15px;
				}
				p {
					font-weight: 300;
					color: $white;
					span {
						font-weight: 400;
					}
					&:last-child {
						margin-top: 28px;
					}
				}
			}
    }

    .card-votes {
      height: 40px;
			top: 100%;
			.card-like,.card-dislike {
				width: 50%;
				display: inline-flex;
				height: 50px;
				cursor: pointer;
				p {
					display: block;
					margin: auto;
					i {
						color: $white;
						font-size: 20px;
					}
				}
			}
      .card-like {
				background-color: rgba(43, 255, 0, 0.6);
        
      }

      .card-dislike {
				background-color: rgba(255, 145, 0, 0.6);
				p {
					i {
						transform: rotate(180deg);
					}
				}
      }

    }
  }

}